* { 
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    margin: 20px;
    padding: 20px;
}

.card {
    max-width: 600px;
    margin: 0 auto;            
    padding: 32px;
    background-color: #ffffff;
    border: 4px solid rgb(4, 20, 110);
}

.card h1 {
    color: #222222;
    font-size: 36px;          
    margin-bottom: 8px;         
    margin-top: 0;
}

.card p {
    color: #444444;
    font-size: 18px;
    margin-top: 0;
}
